h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Courier New', Courier, monospace;
}
.subheading {
    font-family: 'Courier New', Courier, monospace;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
.bg-primary {
    background-color:darkolivegreen !important;
}
.text-primary {
    color: darkolivegreen !important;
}
a {
    color: darkolivegreen;
}